			<div ng-app="Pazaak" ng-controller="PazaakController">
				<button ngClick="config()" class="btn btn-primary btn-lg center-block">Play Pazaak!</button>
				<br>
				<button ngClick="play()" class="btn btn-default center-block">Configure your deck</button>
				<br>
				<button ngClick="purchase()" class="btn btn-default center-block">Buy new cards</button>
				<p>{{playerCredits}}</p>
				<br>
				<a href="http://starwars.wikia.com/wiki/Pazaak" class="center-block">View Rules</a>
				
			</div>