script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
//link(rel="stylesheet" href="~/style.css")
script
	var socket = io();
div(id="header" class="container")
	div(id="navigation" class="header clearfix")
		h2(class="text-muted pull-left") Stormfront
		nav
			ul(class="nav nav-pills pull-right")
				li(role="presentation" class="active")
					a(href="http://stormfrontx.cloudapp.net:3000") Home
				li(role="presentation")
					a(href="http://stormfrontx.cloudapp.net/phpInfo.php") PHP Information
				li(role="presentation")
					a(href="http://mcbxx2.github.io/") GitHub IO Page
	br
	br
	div(class="jumbotron")
		p.
			This is the landing webpage for the Stormfront server designed by Mitchell Battles
		div
			div(id="accordionMain" class="panel-group")
			div(class="panel panel-default")
				div(class="panel-heading")
					h4(class="panel-title")
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseMain") More Information
				div(id="collapseMain" class="panel-collapse collapse")
					div(class="panel-body")
						a(href="http://stormfrontx.cloudapp.net/phpInfo.php") View the Server's PHP Information
						br
						p.
							Future Data will go here...
			p.
				Chat with other users
			ul(id="messages")
			form(action="")
				input(id="m" autocomplete="off")
				br
				button(value="Send") Send